In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/Users/mh/Desktop/201955_DS_Final/CollegeScorecard.csv')

In [3]:
data.head()

,UNITID,OPEID,opeid6,INSTNM,CITY,STABBR,ZIP,AccredAgency,INSTURL,NPCURL,...,RET_PTL4,C200_4_POOLED,C200_L4_POOLED,poolyrs200,D200_4_POOLED,D200_L4_POOLED,PCTFLOAN,UG25abv,CDR2,CDR3
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,galileo.aamu.edu/netpricecalculator/npcalc.htm,...,NaN,0.351686,NaN,2.0,2286.0,NaN,0.8204,0.1049,NaN,0.163
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,www.collegeportraits.org/AL/UAB/estimator/agree,...,NaN,0.473092,NaN,2.0,3046.0,NaN,0.5397,0.2422,NaN,0.080
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,tcc.noellevitz.com/(S(miwoihs5stz5cpyifh4nczu0...,...,NaN,0.333314,NaN,4.0,21.0,NaN,0.7629,0.8540,NaN,0.089
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,NaN,0.494129,NaN,2.0,1279.0,NaN,0.4728,0.2640,NaN,0.077
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/email/index.aspx,www.alasu.edu/cost-aid/forms/calculator/index....,...,NaN,0.293652,NaN,2.0,2336.0,NaN,0.8735,0.1270,NaN,0.191

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7804 entries, 0 to 7803
Columns: 388 entries, UNITID to CDR3
dtypes: float64(369), int64(12), object(7)
memory usage: 23.1+ MB

In [6]:
data.shape

(7804, 388)

In [5]:
data.isnull().sum()

UNITID               0
OPEID                0
opeid6               0
INSTNM               0
CITY                 0
                  ...
D200_L4_POOLED    4010
PCTFLOAN           741
UG25abv            773
CDR2              7804
CDR3                62
Length: 388, dtype: int64