In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('/Users/mh/Desktop/DS_Task/loangrant.csv')

/var/folders/3z/gjs8159j4pj4fhckh__lk6g00000gn/T/ipykernel_38176/3491597202.py:1: DtypeWarning: Columns (10,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/mh/Desktop/DS_Task/loangrant.csv')

In [9]:
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,6cf51492-02a2-423e-b93d-676f05b9ad53,7c202b37-2add-44e8-9aea-d5b119aea935,Charged Off,12232,Short Term,7280.0,< 1 year,Rent,46643.0,Debt Consolidation,777.39,18.0,10.0,12,0,6762,7946,0.0,0.0
1,552e7ade-4292-4354-9ff9-c48031697d72,e7217b0a-07ac-47dd-b379-577b5a35b7c6,Charged Off,25014,Long Term,7330.0,10+ years,Home Mortgage,81099.0,Debt Consolidation,892.09,26.7,NaN,14,0,35706,77961,0.0,0.0
2,9b5e32b3-8d76-4801-afc8-d729d5a2e6b9,0a62fc41-16c8-40b5-92ff-9e4b763ce714,Charged Off,16117,Short Term,7240.0,9 years,Home Mortgage,60438.0,Home Improvements,1244.02,16.7,32.0,11,1,11275,14815,1.0,0.0
3,5419b7c7-ac11-4be2-a8a7-b131fb6d6dbe,30f36c59-5182-4482-8bbb-5b736849ae43,Charged Off,11716,Short Term,7400.0,3 years,Rent,34171.0,Debt Consolidation,990.94,10.0,NaN,21,0,7009,43533,0.0,0.0
4,1450910f-9495-4fc9-afaf-9bdf4b9821df,70c26012-bba5-42c0-8dcb-75295ada31bb,Charged Off,9789,Long Term,6860.0,10+ years,Home Mortgage,47003.0,Home Improvements,503.71,16.7,25.0,13,1,16913,19553,1.0,0.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111107 entries, 0 to 111106
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       111107 non-null  object
 1   Customer ID                   111107 non-null  object
 2   Loan Status                   111107 non-null  object
 3   Current Loan Amount           111107 non-null  int64
 4   Term                          111107 non-null  object
 5   Credit Score                  89769 non-null   float64
 6   Years in current job          106414 non-null  object
 7   Home Ownership                111107 non-null  object
 8   Annual Income                 89769 non-null   float64
 9   Purpose                       111107 non-null  object
 10  Monthly Debt                  111107 non-null  object
 11  Years of Credit History       111107 non-null  float64
 12  Months since last delinquent  52104 non-null   float64
 13  Number of Open Accounts       111107 non-null  int64
 14  Number of Credit Problems     111107 non-null  int64
 15  Current Credit Balance        111107 non-null  int64
 16  Maximum Open Credit           111107 non-null  object
 17  Bankruptcies                  110879 non-null  float64
 18  Tax Liens                     111096 non-null  float64
dtypes: float64(6), int64(4), object(9)
memory usage: 16.1+ MB

In [11]:
# duplicates finding
df.duplicated().sum()

5869

In [12]:
# removing duplicates
df = df.drop_duplicates()

In [13]:
df.duplicated().sum()

0

In [14]:
# finding null values
df.isnull().sum()

Loan ID                             0
Customer ID                         0
Loan Status                         0
Current Loan Amount                 0
Term                                0
Credit Score                    21338
Years in current job             4450
Home Ownership                      0
Annual Income                   21338
Purpose                             0
Monthly Debt                        0
Years of Credit History             0
Months since last delinquent    56235
Number of Open Accounts             0
Number of Credit Problems           0
Current Credit Balance              0
Maximum Open Credit                 0
Bankruptcies                      218
Tax Liens                          11
dtype: int64

In [15]:
# getting summry of this col
df['Credit Score'].describe()

count    83900.000000
mean      1102.051001
std       1521.347119
min        585.000000
25%        707.000000
50%        726.000000
75%        741.000000
max       7510.000000
Name: Credit Score, dtype: float64

In [16]:
# Calculate the median of the 'Credit Score' column
median_credit_score = df['Credit Score'].median()

# Replace null values with the median
df['Credit Score'] = df['Credit Score'].fillna(median_credit_score)

In [17]:
# null values replaced
df['Credit Score'].isnull().sum()

0

In [18]:
df['Years in current job'].describe()

count        100788
unique           11
top       10+ years
freq          32663
Name: Years in current job, dtype: object

In [19]:
# replacing null values with mode because of categorlical data
mode_value = df['Years in current job'].mode()[0]
df['Years in current job'] = df['Years in current job'].fillna(mode_value)

In [20]:
df['Years in current job'].isna().sum()

0

In [21]:
df['Annual Income'].describe()

count    8.390000e+04
mean     7.241759e+04
std      5.650503e+04
min      4.033000e+03
25%      4.465800e+04
50%      6.161400e+04
75%      8.683400e+04
max      8.713547e+06
Name: Annual Income, dtype: float64

In [22]:
# Calculate the median of the 'Annual Incom' column
median_credit_score = df['Annual Income'].median()

# Replace null values with the median
df['Annual Income'] = df['Annual Income'].fillna(median_credit_score)

In [23]:
df.isnull().sum()

Loan ID                             0
Customer ID                         0
Loan Status                         0
Current Loan Amount                 0
Term                                0
Credit Score                        0
Years in current job                0
Home Ownership                      0
Annual Income                       0
Purpose                             0
Monthly Debt                        0
Years of Credit History             0
Months since last delinquent    56235
Number of Open Accounts             0
Number of Credit Problems           0
Current Credit Balance              0
Maximum Open Credit                 0
Bankruptcies                      218
Tax Liens                          11
dtype: int64

In [24]:
df['Months since last delinquent'].describe()

count    49003.000000
mean        34.918883
std         21.959398
min          0.000000
25%         16.000000
50%         32.000000
75%         51.000000
max        176.000000
Name: Months since last delinquent, dtype: float64

In [25]:
# Calculate the median of the 'Months since last delinquent' column
median_credit_score = df['Months since last delinquent'].median()

# Replace null values with the median
df['Months since last delinquent'] = df['Months since last delinquent'].fillna(
    median_credit_score)

In [26]:
# repalcing this col in numberic values
df['Years in current job'] = df['Years in current job'].replace(
    {
        '< 1 year': 0,
        '1 year': 1,
        '2 years': 2,
        '3 years': 3,
        '4 years': 4,
        '5 years': 5,
        '6 years': 6,
        '7 years': 7,
        '8 years': 8,
        '9 years': 9,
        '10+ years': 10
    }
)

/var/folders/3z/gjs8159j4pj4fhckh__lk6g00000gn/T/ipykernel_38176/2550517151.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Years in current job'] = df['Years in current job'].replace(

In [27]:
df.isnull().sum()

Loan ID                           0
Customer ID                       0
Loan Status                       0
Current Loan Amount               0
Term                              0
Credit Score                      0
Years in current job              0
Home Ownership                    0
Annual Income                     0
Purpose                           0
Monthly Debt                      0
Years of Credit History           0
Months since last delinquent      0
Number of Open Accounts           0
Number of Credit Problems         0
Current Credit Balance            0
Maximum Open Credit               0
Bankruptcies                    218
Tax Liens                        11
dtype: int64

In [28]:
df = df.dropna()

In [29]:
df.isnull().sum()

Loan ID                         0
Customer ID                     0
Loan Status                     0
Current Loan Amount             0
Term                            0
Credit Score                    0
Years in current job            0
Home Ownership                  0
Annual Income                   0
Purpose                         0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
dtype: int64

In [30]:
# Drop the specified columns
df.drop(columns=['Loan ID', 'Customer ID', 'Purpose'], inplace=True)

In [31]:
df.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,Charged Off,12232,Short Term,7280.0,0,Rent,46643.0,777.39,18.0,10.0,12,0,6762,7946,0.0,0.0
1,Charged Off,25014,Long Term,7330.0,10,Home Mortgage,81099.0,892.09,26.7,32.0,14,0,35706,77961,0.0,0.0
2,Charged Off,16117,Short Term,7240.0,9,Home Mortgage,60438.0,1244.02,16.7,32.0,11,1,11275,14815,1.0,0.0
3,Charged Off,11716,Short Term,7400.0,3,Rent,34171.0,990.94,10.0,32.0,21,0,7009,43533,0.0,0.0
4,Charged Off,9789,Long Term,6860.0,10,Home Mortgage,47003.0,503.71,16.7,25.0,13,1,16913,19553,1.0,0.0

In [32]:
df['Loan Status'].value_counts()

Loan Status
Fully Paid     79901
Charged Off    25119
Name: count, dtype: int64

In [33]:
df['Loan Status'] = df['Loan Status'].replace(
    {'Charged Off': 0, 'Fully Paid': 1})

/var/folders/3z/gjs8159j4pj4fhckh__lk6g00000gn/T/ipykernel_38176/1420826780.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Loan Status'] = df['Loan Status'].replace(

In [34]:
df['Term'].value_counts()

Term
Short Term    76501
Long Term     28519
Name: count, dtype: int64

In [35]:
df['Term'] = df['Term'].replace(
    {'Short Term': 0, 'Long Term': 1})

/var/folders/3z/gjs8159j4pj4fhckh__lk6g00000gn/T/ipykernel_38176/3022829249.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Term'] = df['Term'].replace(

In [36]:
df['Home Ownership'].value_counts()

Home Ownership
Home Mortgage    50946
Rent             44286
Own Home          9580
HaveMortgage       208
Name: count, dtype: int64

In [37]:
# Perform one-hot encoding
df = pd.get_dummies(df, columns=['Home Ownership'], drop_first=True)

In [38]:
df.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Home Ownership_Home Mortgage,Home Ownership_Own Home,Home Ownership_Rent
0,0,12232,0,7280.0,0,46643.0,777.39,18.0,10.0,12,0,6762,7946,0.0,0.0,False,False,True
1,0,25014,1,7330.0,10,81099.0,892.09,26.7,32.0,14,0,35706,77961,0.0,0.0,True,False,False
2,0,16117,0,7240.0,9,60438.0,1244.02,16.7,32.0,11,1,11275,14815,1.0,0.0,True,False,False
3,0,11716,0,7400.0,3,34171.0,990.94,10.0,32.0,21,0,7009,43533,0.0,0.0,False,False,True
4,0,9789,1,6860.0,10,47003.0,503.71,16.7,25.0,13,1,16913,19553,1.0,0.0,True,False,False

In [39]:
df['Home Ownership_Home Mortgage'] = df['Home Ownership_Home Mortgage'].astype(
    int)
df['Home Ownership_Own Home'] = df['Home Ownership_Own Home'].astype(int)
df['Home Ownership_Rent'] = df['Home Ownership_Rent'].astype(int)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 105020 entries, 0 to 111106
Data columns (total 18 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan Status                   105020 non-null  int64
 1   Current Loan Amount           105020 non-null  int64
 2   Term                          105020 non-null  int64
 3   Credit Score                  105020 non-null  float64
 4   Years in current job          105020 non-null  int64
 5   Annual Income                 105020 non-null  float64
 6   Monthly Debt                  105020 non-null  object
 7   Years of Credit History       105020 non-null  float64
 8   Months since last delinquent  105020 non-null  float64
 9   Number of Open Accounts       105020 non-null  int64
 10  Number of Credit Problems     105020 non-null  int64
 11  Current Credit Balance        105020 non-null  int64
 12  Maximum Open Credit           105020 non-null  object
 13  Bankruptcies                  105020 non-null  float64
 14  Tax Liens                     105020 non-null  float64
 15  Home Ownership_Home Mortgage  105020 non-null  int64
 16  Home Ownership_Own Home       105020 non-null  int64
 17  Home Ownership_Rent           105020 non-null  int64
dtypes: float64(6), int64(10), object(2)
memory usage: 15.2+ MB

In [41]:
df.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Home Ownership_Home Mortgage,Home Ownership_Own Home,Home Ownership_Rent
0,0,12232,0,7280.0,0,46643.0,777.39,18.0,10.0,12,0,6762,7946,0.0,0.0,0,0,1
1,0,25014,1,7330.0,10,81099.0,892.09,26.7,32.0,14,0,35706,77961,0.0,0.0,1,0,0
2,0,16117,0,7240.0,9,60438.0,1244.02,16.7,32.0,11,1,11275,14815,1.0,0.0,1,0,0
3,0,11716,0,7400.0,3,34171.0,990.94,10.0,32.0,21,0,7009,43533,0.0,0.0,0,0,1
4,0,9789,1,6860.0,10,47003.0,503.71,16.7,25.0,13,1,16913,19553,1.0,0.0,1,0,0

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 105020 entries, 0 to 111106
Data columns (total 18 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan Status                   105020 non-null  int64
 1   Current Loan Amount           105020 non-null  int64
 2   Term                          105020 non-null  int64
 3   Credit Score                  105020 non-null  float64
 4   Years in current job          105020 non-null  int64
 5   Annual Income                 105020 non-null  float64
 6   Monthly Debt                  105020 non-null  object
 7   Years of Credit History       105020 non-null  float64
 8   Months since last delinquent  105020 non-null  float64
 9   Number of Open Accounts       105020 non-null  int64
 10  Number of Credit Problems     105020 non-null  int64
 11  Current Credit Balance        105020 non-null  int64
 12  Maximum Open Credit           105020 non-null  object
 13  Bankruptcies                  105020 non-null  float64
 14  Tax Liens                     105020 non-null  float64
 15  Home Ownership_Home Mortgage  105020 non-null  int64
 16  Home Ownership_Own Home       105020 non-null  int64
 17  Home Ownership_Rent           105020 non-null  int64
dtypes: float64(6), int64(10), object(2)
memory usage: 15.2+ MB

In [43]:
df.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,Home Ownership_Home Mortgage,Home Ownership_Own Home,Home Ownership_Rent
0,0,12232,0,7280.0,0,46643.0,777.39,18.0,10.0,12,0,6762,7946,0.0,0.0,0,0,1
1,0,25014,1,7330.0,10,81099.0,892.09,26.7,32.0,14,0,35706,77961,0.0,0.0,1,0,0
2,0,16117,0,7240.0,9,60438.0,1244.02,16.7,32.0,11,1,11275,14815,1.0,0.0,1,0,0
3,0,11716,0,7400.0,3,34171.0,990.94,10.0,32.0,21,0,7009,43533,0.0,0.0,0,0,1
4,0,9789,1,6860.0,10,47003.0,503.71,16.7,25.0,13,1,16913,19553,1.0,0.0,1,0,0

In [44]:
df.isna().sum()

Loan Status                     0
Current Loan Amount             0
Term                            0
Credit Score                    0
Years in current job            0
Annual Income                   0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
Home Ownership_Home Mortgage    0
Home Ownership_Own Home         0
Home Ownership_Rent             0
dtype: int64

In [45]:
# Convert the "Monthly Debt" column to numeric type
df['Monthly Debt'] = pd.to_numeric(df['Monthly Debt'], errors='coerce')

# Fill NaN values with 0 (or any other appropriate value)
df['Monthly Debt'] = df['Monthly Debt'].fillna(0)

# Convert the "Monthly Debt" column to integer type
df['Monthly Debt'] = df['Monthly Debt'].astype(int)

In [46]:
df.isna().sum()

Loan Status                     0
Current Loan Amount             0
Term                            0
Credit Score                    0
Years in current job            0
Annual Income                   0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
Home Ownership_Home Mortgage    0
Home Ownership_Own Home         0
Home Ownership_Rent             0
dtype: int64

In [47]:
df = df.drop(columns=['Maximum Open Credit'])

In [48]:
# Splitting features and target variable
X = df.drop(columns=['Loan Status'])  # Features
y = df['Loan Status']  # Target variable

# Splitting data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

# Training Decision Tree classifier
dt_classifier = DecisionTreeClassifier(random_state=42)
dt_classifier.fit(X_train, y_train)

# Predicting on the testing set
dt_pred = dt_classifier.predict(X_test)

# Calculating accuracy of Decision Tree classifier
dt_accuracy = accuracy_score(y_test, dt_pred)
print("Decision Tree Classifier Accuracy:", dt_accuracy)

# Training Support Vector Classification (SVC) model
# You can change the kernel as per your requirement
svc_classifier = SVC(kernel='linear')
svc_classifier.fit(X_train, y_train)

# Predicting on the testing set
svc_pred = svc_classifier.predict(X_test)

# Calculating accuracy of Support Vector Classification (SVC) model
svc_accuracy = accuracy_score(y_test, svc_pred)
print("Support Vector Classification (SVC) Accuracy:", svc_accuracy)

Decision Tree Classifier Accuracy: 0.7352885164730527

In [ ]:
dt_cm = confusion_matrix(y_test, dt_pred)

# Plotting confusion matrix for Decision Tree classifier
plt.figure(figsize=(8, 6))
sns.heatmap(dt_cm, annot=True, fmt='d', cmap='Blues', cbar=False,
            xticklabels=['No Default', 'Default'], yticklabels=['No Default', 'Default'])
plt.title('Decision Tree Classifier Confusion Matrix')
plt.xlabel('Predicted')
plt.ylabel('True')
plt.show()

# Training Support Vector Classification (SVC) model
svc_classifier = SVC(kernel='linear')
svc_classifier.fit(X_train, y_train)

# Predicting on the testing set
svc_pred = svc_classifier.predict(X_test)

# Calculating confusion matrix for Support Vector Classification (SVC) model
svc_cm = confusion_matrix(y_test, svc_pred)

# Plotting confusion matrix for Support Vector Classification (SVC) model
plt.figure(figsize=(8, 6))
sns.heatmap(svc_cm, annot=True, fmt='d', cmap='Blues', cbar=False,
            xticklabels=['No Default', 'Default'], yticklabels=['No Default', 'Default'])
plt.title('Support Vector Classification (SVC) Confusion Matrix')
plt.xlabel('Predicted')
plt.ylabel('True')
plt.show()

NameError: name 'confusion_matrix' is not defined

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, matthews_corrcoef

# Function to calculate sensitivity, specificity, and MCC


def calculate_metrics(y_true, y_pred):
    accuracy = accuracy_score(y_true, y_pred)
    sensitivity = recall_score(y_true, y_pred)
    specificity = recall_score(y_true, y_pred, pos_label=0)
    mcc = matthews_corrcoef(y_true, y_pred)
    return accuracy, sensitivity, specificity, mcc


# Calculate metrics for Decision Tree classifier
dt_accuracy, dt_sensitivity, dt_specificity, dt_mcc = calculate_metrics(
    y_test, dt_pred)

# Calculate metrics for Support Vector Classification (SVC) model
svc_accuracy, svc_sensitivity, svc_specificity, svc_mcc = calculate_metrics(
    y_test, svc_pred)

# Calculate metrics for K-Nearest Neighbors (KNN) model (assuming you have already trained and tested KNN)
# knn_accuracy, knn_sensitivity, knn_specificity, knn_mcc = calculate_metrics(y_test, knn_pred)

# Plotting the bar graph
labels = ['Accuracy', 'Sensitivity', 'Specificity', 'MCC']
dt_metrics = [dt_accuracy, dt_sensitivity, dt_specificity, dt_mcc]
svc_metrics = [svc_accuracy, svc_sensitivity, svc_specificity, svc_mcc]
# knn_metrics = [knn_accuracy, knn_sensitivity, knn_specificity, knn_mcc]  # Uncomment if you have KNN results

x = range(len(labels))
width = 0.2

plt.figure(figsize=(10, 6))

plt.bar(x, dt_metrics, width=width, label='Decision Tree', align='center')
plt.bar([i + width for i in x], svc_metrics,
        width=width, label='SVC', align='center')
# plt.bar([i + width*2 for i in x], knn_metrics, width=width, label='KNN', align='center')  # Uncomment for KNN

plt.xlabel('Metrics')
plt.ylabel('Score')
plt.title('Comparison of Classifier Performance Metrics')
plt.xticks([i + width for i in x], labels)
plt.legend()
plt.show()

NameError: name 'dt_pred' is not defined